<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PowerCalibration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="powercal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PowerCalibration.Properties.Settings.DBConnectionString"
            connectionString="Data Source=rs01.centralite.com;Initial Catalog=ManufacturingStore_v2;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <PowerCalibration.Properties.Settings>
            <setting name="Meter_COM_Port_Name" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Ember_BinPath" serializeAs="String">
                <value>C:\Program Files (x86)\Ember\ISA3 Utilities\bin</value>
            </setting>
            <setting name="Relay_Controller_Type" serializeAs="String">
                <value>FT232H</value>
            </setting>
            <setting name="Last_Used_Board" serializeAs="String">
                <value />
            </setting>
            <setting name="Meter_Manual_Measurement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ember_Interface" serializeAs="String">
                <value>IP</value>
            </setting>
            <setting name="Ember_Interface_IP_Address" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Ember_Interface_USB_Address" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrePost_Test_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DB_Loging_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProductionSiteName" serializeAs="String">
                <value>Centralite</value>
            </setting>
            <setting name="CalibrationLoadVoltageValue" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="CalibrationLoadVoltageTolarance" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CalibrationLoadResistorValue" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CalibrationLoadResistorTolarance" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CodeMinimizedOnPASS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoneycombSensorID" serializeAs="String">
                <value>41461589</value>
            </setting>
            <setting name="Ember_ReadProtect_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Play_Sounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Disable_ReadProtection_BeforeCoding" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gain_Current_Max" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Gain_Current_Min" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="Gain_Voltage_Max" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="Gain_Voltage_Min" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="Coding_Method" serializeAs="String">
                <value>EBL</value>
            </setting>
            <setting name="Coding_File" serializeAs="String">
                <value>C:\Users\victormartin\Documents\Jigs\Mahi_HALIBUT\mahi3.hex</value>
            </setting>
        </PowerCalibration.Properties.Settings>
        <powercal.Properties.Settings>
            <setting name="Meter_COM_Port_Name" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Ember_BinPath" serializeAs="String">
                <value>C:\Program Files (x86)\Ember\ISA3 Utilities\bin</value>
            </setting>
            <setting name="Relay_Controller_Type" serializeAs="String">
                <value>FT232H</value>
            </setting>
            <setting name="Last_Used_Board" serializeAs="String">
                <value/>
            </setting>
            <setting name="Meter_Manual_Measurement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ember_Interface" serializeAs="String">
                <value>IP</value>
            </setting>
            <setting name="Ember_Interface_IP_Address" serializeAs="String">
                <value>172.19.14.121</value>
            </setting>
            <setting name="Ember_Interface_USB_Address" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Coding_StatusX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Coding_StatusY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut_Spacebar_Action" serializeAs="String">
                <value>All</value>
            </setting>
        </powercal.Properties.Settings>
    </userSettings>
</configuration>
