<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PowerCalibration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="powercal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PowerCalibration.Properties.Settings.PowerCalibrationConnectionString"
            connectionString="Data Source=a1040.centralite.com;Initial Catalog=PowerCalibration;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <PowerCalibration.Properties.Settings>
            <setting name="Meter_COM_Port_Name" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Ember_BinPath" serializeAs="String">
                <value>C:\Program Files (x86)\Ember\ISA3 Utilities\bin</value>
            </setting>
            <setting name="Relay_Controller_Type" serializeAs="String">
                <value>FT232H</value>
            </setting>
            <setting name="Last_Used_Board" serializeAs="String">
                <value />
            </setting>
            <setting name="Meter_Manual_Measurement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ember_Interface" serializeAs="String">
                <value>IP</value>
            </setting>
            <setting name="Ember_Interface_IP_Address" serializeAs="String">
                <value>172.19.14.93</value>
            </setting>
            <setting name="Ember_Interface_USB_Address" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut_Spacebar_Action" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="PrePost_Test_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DB_Loging_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProductionSiteName" serializeAs="String">
                <value>Centralite</value>
            </setting>
        </PowerCalibration.Properties.Settings>
        <powercal.Properties.Settings>
            <setting name="Meter_COM_Port_Name" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Ember_BinPath" serializeAs="String">
                <value>C:\Program Files (x86)\Ember\ISA3 Utilities\bin</value>
            </setting>
            <setting name="Relay_Controller_Type" serializeAs="String">
                <value>FT232H</value>
            </setting>
            <setting name="Last_Used_Board" serializeAs="String">
                <value />
            </setting>
            <setting name="Meter_Manual_Measurement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ember_Interface" serializeAs="String">
                <value>IP</value>
            </setting>
            <setting name="Ember_Interface_IP_Address" serializeAs="String">
                <value>172.19.14.121</value>
            </setting>
            <setting name="Ember_Interface_USB_Address" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Coding_StatusX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Coding_StatusY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shortcut_Spacebar_Action" serializeAs="String">
                <value>All</value>
            </setting>
        </powercal.Properties.Settings>
    </userSettings>
</configuration>
