<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="powercal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <powercal.Properties.Settings>
            <setting name="Meter_COM_Port_Name" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="CS_COM_Port_Name" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="Manual_Relay_Control" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DIO_ACPower_LineNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DIO_Load_LinNum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DIO_Reset_LineNum" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DIO_Ember_LineNum" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Meter_Manual_Measurement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ember_BinPath" serializeAs="String">
                <value>C:\Program Files (x86)\Ember\ISA3 Utilities\bin</value>
            </setting>
        </powercal.Properties.Settings>
    </userSettings>
</configuration>
